@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/major-mono-display-2");

@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-display-mono: "Major Mono Display", sans-serif;
}
