@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/major-mono-display-2");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-display-mono: "Major Mono Display", sans-serif;
}

li a.active {
  @apply underline underline-offset-8 decoration-2 decoration-violet-500;
}

.my-btn {
  @apply border border-violet-700 bg-violet-700 px-8 py-2 text-base lg:text-lg font-semibold rounded-lg transition-all duration-150 active:scale-95;
}

.body {
  background-image: linear-gradient(
    176deg,
    rgb(18, 24, 27) 50%,
    rgb(32, 39, 55) 100%
  );
}

.retro-shadow {
  box-shadow: 4px 3px 0 rgb(133, 200, 62);
}

/* Custom CSS for global scrollbar hiding */
/* For Firefox */
html,
body {
  scrollbar-width: none;
}

/* For Chrome, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
